@model IEnumerable<Task_4.Models.User>
@{
    ViewBag.Title = "List of Users";
}

<form id='form1' method="post">
    <button type="submit" asp-controller="Users" asp-action="Block"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
  <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
  <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
</svg></button>
    <button type="submit" asp-controller="Users" asp-action="UnBlock"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
</svg></button>
    <button type="submit" asp-controller="Users" asp-action="Delete"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
  <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
</svg></button>

    <table class="table table-bordered table-checks">
        <tr>
                 <th><input type="checkbox" name="cb_all"></th>
            <th>Email</th>
            <th>Name</th>
            <th>Status</th>
            <th>Date Log</th>
            <th>Date Reg</th>
           
        </tr>
        @foreach (var user in Model)
        {
            <tr>
                   <td><input type="checkbox" class="check" name="selectedUsers" value="@user.Id" /></td>
                <td>@user.Email</td>
                <td>@user.UserName</td>
                <td>@user.Status</td>
                <td>@user.DateRegistration</td>
                <td>@user.LastLoginDate</td>
             
            </tr>
        }
    </table>
</form>
<script>
    var f = document.getElementById('form1');
    f.cb_all.onchange = function (e) {
        var el = e.target || e.srcElement;
        var check = el.form.getElementsByClassName('check');
        for (var i = 0; i < check.length; i++) {
            if (el.checked) {
                check[i].checked = true;
            } else {
                check[i].checked = false;
            }
        }
    }

</script>
 <form method="post" asp-controller="Users" asp-action="Logout">
                              
                            </form>